<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<include file='Public:file'/>
	<style>

	.note{
		width:500px;
		padding: 10px 20px;
		border: 1px solid #3C3C47;
		border-radius: 4px;
		margin-top: 20px;
		font-size: 15px;
		text-align: left;
		color: #3C3C47;
		}
	.note-a{
		float:right;
		margin-right: 10px;

	}
	.note-a:first-child{
		margin-right: 0px;
	}
	</style>
</head>

<body>
	<div class="htmleaf-container">
		<div class="container pb30">
			<include file='Public:navigation'/>

			<!-- tab-content -->
			<div class="tab-content">
				<center style="margin-top:50px;font-size:20px">我需留意</center>
				<center>
					<div class="notify">
					<!-- 消息模板 -->
					<foreach name="list_data" key="key" item="vo">
						<p class="note">
							{{$vo.content}}
							<if condition="$vo['is_sys'] eq '1'">
								<span class="note-a">
									<a href="{{$vo.agree_url}}">同意</a>
								</span>
								<span class="note-a">
									<a href="{{$vo.refuse_url}}">拒绝</a>
								</span>
							</if>
						</p>
					</foreach>
					</div>
				</center>
					
			
			</div>
		</div>
	</div>
	
	
</div>
<div class="pop_layer" style="display:none">
	<a href="javascript:void(0)" style="position:absolute;right:10px;top:10px;line-height:20px;font-size:20px;" onclick="close_layer()">x</a>
	<div class="layer_body"></div>
</div>
</body>
</html>