<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src='js-lib/jquery-2.1.1.min.js'></script>
	<script src='js-lib/jquery.base64.js'></script>
				
	<link rel="stylesheet" href="css/background/css/normalize.css" />
	<link rel="stylesheet" href="css/background/css/style.css" />
	<link rel="stylesheet" href="css/background/css/font-awesome.min.css" />
	
	<script src='my-js/root_ui/root_ui.js'></script>
	<script src='my-js/root_ui/file_upload.js'></script>

	<link href="js-lib/jquery-ui.min.css" rel="stylesheet">
	<script src="js-lib/jquery-ui.min.js"></script>

        <script src="../js/baidu.js"></script>
			
	<link rel="stylesheet" type="text/css" href="css/style_wang.css">
	<style>

	.note{
		width:500px;
		padding: 10px 20px;
		border: 1px solid #3C3C47;
		border-radius: 4px;
		margin-top: 20px;
		font-size: 15px;
		text-align: left;
		color: #3C3C47;
		}
	.note-a{
		float:right;
		margin-right: 10px;

	}
	.note-a:first-child{
		margin-right: 0px;
	}
	</style>
</head>

<body>
	<div class="htmleaf-container">
	
		<div class="container pb30">
			<div class="clear-backend">
			<div class="avatar">
				<div>

					<a href="index.html" >
						<img src="images/back-logo.jpg" alt="logo"/>
					</a>
				</div>
			</div>

			<!-- tab-menu -->
			<div class="aaa"></div>

			

		<span>
			<a href="user_manage.html">人员管理</a>
			</span>
			<i class="fa fa-user"></i>

			<span>
			<a href="team_manage.html">团队管理</a>
			</span>
			<i class="fa fa-users"></i>
			<span>
			<a href="new_news.html">创建信息</a>
			</span>
			<i class="fa fa-lightbulb-o"></i>

			<span>
			<a href="new_match.html">创建比赛</a>
			</span>
			<i class="fa fa-lightbulb-o"></i>

			<span>
			<a href="match_manage.html">比赛管理</a>
			</span>
			<i class="fa fa-futbol-o"></i>

			<span>
			<a href="news_manage.html">信息管理</a>
			</span>
			<i class="fa fa-cubes"></i>

			
				
			
			
			
			<div class='side_bar'></div>
			
			<!-- tab-top-bar -->
			<div class="top-bar">
				<ul>
					<li>
						<a href="javascript:void(0)" title="Log Out" onclick="logout()">
							<i class="fa fa-sign-out"></i>
						</a>
					</li>
					<li><span class="user_name" style='padding:0 10px'></span></li>
				</ul>
			</div>

			<!-- tab-content -->
			<div class="tab-content">
				<center style="margin-top:50px;font-size:20px">我需留意</center>
				<center>
					<div class="notify">
					<!-- 消息模板 -->
					
					
						<p class="note">
							有学生想成为你的队员
							<span class="note-a">
								<a href="javascript:void(0)" action_id='<%=action_body["_id"]%>' onclick="action_do(this)" do="accept">同意</a>
							</span>
							<span class="note-a">
								<a href="javascript:void(0)" action_id='<%=action_body["_id"]%>' onclick="action_do(this)" do="refuse">拒绝</a>
							</span>
						</p>
						<p class="note">
							有学生想成为你的队员
							<span class="note-a">
								<a href="javascript:void(0)" action_id='<%=action_body["_id"]%>' onclick="action_do(this)" do="accept">同意</a>
							</span>
							<span class="note-a">
								<a href="javascript:void(0)" action_id='<%=action_body["_id"]%>' onclick="action_do(this)" do="refuse">拒绝</a>
							</span>
						</p>


					
						
					</div>
				</center>
					
			
			</div>
		</div>
	</div>
	
	
</div>

<div class="pop_layer" style="display:none">
	
	<a href="javascript:void(0)" style="position:absolute;right:10px;top:10px;line-height:20px;font-size:20px;" onclick="close_layer()">x</a>
	<div class="layer_body"></div>

</div>
<!-- 卡片视图模板 -->


<!-- 卡片视图模板 -->

<!-- <script src="my-js/template.js"></script> -->

<!-- <script src="my-js/logic.js"></script> -->
<script>
// $(document).ready(function(){
// 	$.get("my-php/lee/get_action.php",function(data){
// 		if("err" in data)
// 		{
// 			alert("err")
// 		}
// 		else
// 		{
// 			console.log(data)
// 			var bt = baidu.template
// 			var action_temp = bt("action_log",data)
// 			$(".notify").append(action_temp)
// 		}
// 	},"json")

// })

// function action_do(e){
// 	var type = $(e).attr("do")
// 	var action_id = $(e).attr("action_id")
// 	$.post("my-php/lee/action_do.php",{"action_id":action_id,"type":type},function(data){
		
		
// 	})


// }

</script>
</body>

</html>