<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>团队管理</title>
	<include file='Public:file'/>
</head>

<body>
	<div class="htmleaf-container">
		<div class="container pb30">
			<include file='Public:navigation'/>
			<!-- tab-content -->
			<div class="tab-content">
					<table class="team_table user_table hover_table">
						<tbody>
							<tr style='background:#aaa;color:#fff'>
								<th width='13%'>ID</th>
								<th width='30%'>团队名称</th>
								<th width='10%'>负责人</th>
								<th width='27%'>创建时间</th>
								<th class='user_set'>设置</th>
							</tr>
							<foreach name="list_data" key="key" item="vo">
							 <tr class="user_info" id="{{$vo.id}}">
                                <td>{{$vo.id}}</td>
                                <td><a class="user_name" u_id="+i+" onclick="show_people_info(this)">{{$vo.team_name}}</a></td>
                                <td><a class="user_identity">{{$vo.user_name}}</a></td>
                                <td>{{$vo.create_time}}</td>
                                <td class="user_set">
                                	<if condition="$top eq false">
                                		<input type="checkbox" <if condition="$vo.tops eq 1">checked="checked"</if> class="user_valil">置顶
                                	</if>
                                	<if condition="$vo['user_type'] eq $utype">
                                	    <a href="{{:U('Index/updateteam',array('tid'=>$vo['id']))}}">编辑</a>
                                        <a class="deleteteam" data-id = "{{$vo.id}}">删除</a>
                                    </if>
                                </td>
                            </tr>
                           </foreach>
						</tbody>
					</table>
					<div id="page_div">
                        {{$Page}}
                    </div>
			</div>	
			</div>
		</div>
	</div>
	
	
</div>
</body>
<script>
$('.deleteteam').click(function(){
	var team_id = $(this).attr('data-id'); 
	$.ajax({
               type:'post',
               url:"{{:U('Team/delete')}}",
               data:{team_id:team_id},
               cache:false,
               dataType:'json',
               success:function(data){
                   if(data.status == 1){
                   	window.location.reload();
                   }else{
                   	alert('删除失败');
                   }
               }
           });
});

  //ajax请求
    $(function(){
           
           /*修改操作*/
		   $(".user_valil").change(function(){
		   	     var thiss = $(this);
		   	     var ids = $(this).parents("tr").attr("id");
		   	     var types = "";
	            if($(this).prop("checked")){
		   	     	types = 1;
		   	     }else{
		   	     	types = 0;
		   	     }
		   	     $.ajax({
		   	     	type:"post",
		   	     	url:"{{:U('Index/teamTops')}}",
		   	     	data:"id="+ids+"&types="+types,
		   	     	success:function(data){
		   	     		if(data.state==false){
		   	     			thiss.attr("checked",false);
		   	     			alert(data.msg);
		   	     		}
		   	     	}
		   	     });
		   });
   });
</script>
</html>