<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人员管理</title>
    <include file='Public:file'/>
</head>

<body>
    <div class="htmleaf-container">
        <div class="container pb30">
            <include file='Public:navigation'/>
                <!-- tab-content -->
                <div class="tab-content">
                    <div class='tool_bar'>
                        <a title='增加用户' class='a_user_add'><i class='fa fa-user-plus'></i>点击增加用户</a>
                    </div>
                    <table class="user_table hover_table">
                        <tbody>
                            <tr style='background:#aaa;color:#fff'>
                                <th width='7%'>ID</th>
                                <th width='30%'>用户名</th>
                                <th width='10%'>身份</th>
                                <th width='33%'>Email</th>
                                <th class='user_set'>设置</th>
                            </tr>
                            <foreach name="list_data" key="key" item="vo">
                            <tr class="user_info" id="{{$vo.user_id}}">
                                <td>{{$vo.user_id}}</td>
                                <td><a class="user_name" >{{$vo.user_name}}</a></td>
                                <td><a class="user_identity">{{$vo.user_type}}</a></td>
                                <td><a class="user_email">{{$vo.email}}</a></td>
                                <td class="user_set">
                                	
                                    <if condition="$vo['user_id'] neq 1">
                                    	<input type="checkbox" value="{{$vo.user_id}}" <if condition="$vo['state'] eq 2">checked="checked"</if> class="user_valid">禁止<a class="delete">删除</a>
                                        <a href="{{:U('Permission/usergroup')}}&user_id={{$vo.user_id}}" class="">权限</a>
                                    </if>
                                </td>
                            </tr>
                            </foreach>
                        </tbody>
                    </table>
                    <div id="page_div">
                        {{$Page}}
                    </div>
                </div>
            </div>
        </div>
        <div class='login_div'>
            <i class='fa fa-close'></i>
            <form id='user_add_form' action="{{:U('User/register')}}" method='post'>
                <h2 class="login-heading">注 册</h2>
                <div class='reg_lable'>电子邮件</div>
                <input name='email' type="email" id="input-email" placeholder="电子邮件地址（必填）" required='required' autofocus='autofocus' />
                <br/>
                <div class='reg_lable'>证件类型</div>
                <select name='card_type'>
                    <option value='0'>学生证</option>
                    <option value='1'>身份证</option>
                </select>
                <input name='card_id' type="text" id="input-id" placeholder="证件号（必填）" required='required' />
                <br/>
                <div class='reg_lable'>身份</div>
                <select id='s_type' name='user_type'>
                	<option value="1">管理人员</option>
                    <option value="6">学生个人</option>
                    <option value="3">指导老师</option>
                    <option value="4">评审专家</option>
                    <option value="5">投资人</option>
                </select>
                <div class='reg_lable'>性别</div>
                <select name='sex' style='width:108px'>
                    <option value='0'>女</option>
                    <option value='1'>男</option>
                </select>
                <br/>
                <div class='reg_lable'>密码</div>
                <input name='password' type="password" id="input-password" placeholder="密码（必填）" required='required' />
                <br/>
                <div class='reg_lable'>密码确认</div>
                <input name='password2' type="password" id="input-password" placeholder="再次输入密码（必填）" required='required' />
                <br/>
                <br/>
                <br/>
                <div class='reg_lable'>学院/机构</div>
                <input name='college' type="text" id="input-com" placeholder="所在学院或单位" />
                <br/>
                <div class='reg_lable'>姓名</div>
                <input name='user_name' type="text" id="input-name" placeholder="您真实姓名" />
                <br/>
                <button id='user_add_b' class="btn btn-lg btn-primary btn-block">提 交</button>
                <span id='user_add_res' style='margin-left:20px'></span>
            </form>
        </div>
    </div>
   <!--  <div class="pop_layer" style="display:none">
        <a href="javascript:void(0)" style="position:absolute;right:10px;top:10px;line-height:20px;font-size:20px;" onclick="close_layer()">x</a>
        <div class="layer_body"></div>
    </div> -->
    <!-- 卡片视图模板 -->
    
    <script>
        function list_user(j_obj) {
            var tbody = j_obj.children('tbody');
            append_user(tbody, user_info, 0);
        }

        function show_people_info(e) {

            $('.layer_body').html();
            var info_index = $(e).attr("u_id")
            var user_info_ = {
                "user_info_": user_info[info_index]
            }
            var bt_user_info = baidu.template;
            var header_temp = bt_user_info('user_card', user_info_);
            $('.layer_body').html(header_temp);
            $('.pop_layer').show()


        }

        function close_layer() {
            $('.pop_layer').hide()
        }

        $('.login_div').draggable();
        $('.login_div i.fa-close').click(function() {
            $('.login_div').hide();
        });
        $('a.a_user_add').click(function(e) {
            var t = $('.login_div');
            t.css({
                'left': (e.pageX - 469) + 'px',
                'top': e.pageY + 'px'
            });
            t.show();
        });

        // 添加用户
        $('#user_add_b').click(function() {
            var t = $('#user_add_form');
            var data = new Object();

            var p1 = $('input[name=password]').val();
            var p2 = $('input[name=password2]').val();
            if (p1 != p2) {
                $('#user_add_res').text('密码确认失败');
                setTimeout(function() {
                    $('#user_add_res').text('');
                }, 1000);
                return false;
            } else{
                $('form').submit();
            }

        });
        //ajax请求
       $(function(){
           
           /*修改操作*/
		   $(".user_valid").change(function(){
		   	
		   	     var ids = $(this).parents("tr").attr("id");
		   	     var types = "";
		   	     if($(".user_valid").prop("checked")){
		   	     	/*禁止*/
		   	     	types = 2;
		   	     }else{
		   	     	/*正常*/
		   	     	types = 1;
		   	     }

		   	     $.ajax({
		   	     	type:"post",
		   	     	url:"{{:U('Index/user_state')}}",
		   	     	data:"id="+ids+"&types="+types,
		   	     	success:function(data){
		   	     	}
		   	     });
		   });
           
		   $(".delete").click(function(){
		   	     var thiss = $(this);
		   	     var ids = thiss.parents("tr").attr("id");
		   	     var types = "0";
                 if(confirm("是否删除?")){
                 	 $.ajax({
			   	     	type:"post",
			   	     	url:"{{:U('Index/user_state')}}",
			   	     	data:"id="+ids+"&types="+types,
			   	     	success:function(data){
			   	     		if(data=='1'){
			   	     			thiss.parents("tr").remove();
			   	     		}else{
			   	     			alert("操作失败,请重试");
			   	     		}
			   	     	}
			   	     });
                 }
		   });
       });
       
    </script>
</body>

</html>
