<script src='__STATICBK__/js-lib/jquery-2.1.1.min.js'></script>
<script src='__STATICBK__/js-lib/jquery.base64.js'></script>
				
<link rel="stylesheet" href="__STATICBK__/css/background/css/normalize.css" />
<link rel="stylesheet" href="__STATICBK__/css/background/css/style.css" />
<link rel="stylesheet" href="__STATICBK__/css/background/css/font-awesome.min.css" />
	
<script src='__STATICBK__/my-js/root_ui/root_ui.js'></script>
<script src='__STATICBK__/my-js/root_ui/file_upload.js'></script>

<link href="__STATICBK__/js-lib/jquery-ui.min.css" rel="stylesheet">
<script src="__STATICBK__/js-lib/jquery-ui.min.js"></script>

<script  src='__STATICBK__/js-lib/ueditor1_4_3-utf8-php/ueditor.config.js'></script>
<script  src='__STATICBK__/js-lib/jquery.searchableSelect.js'> </script>

<script src="__JS__baidu.js"></script>
<script  src='__STATICBK__/js-lib/ueditor1_4_3-utf8-php/ueditor.all.min.js'> </script>
<script  src='__STATICBK__/js-lib/ueditor1_4_3-utf8-php/lang/zh-cn/zh-cn.js'></script>
			
<link rel="stylesheet" type="text/css" href="__STATICBK__/css/style_wang.css">
<link rel="stylesheet" href="__STATICBK__/css/jquery.searchableSelect.css"/>
<link rel="stylesheet" href="__STATICBK__/css/page.css"/>
<link rel="stylesheet" href="__STATIC__/css/mobiscroll.custom-2.5.2.min.css"/>
<link href="__STATIC__/css/mobiscroll.android-ics-2.5.2.css" rel="stylesheet" type="text/css" />
<script src="__JS__/min/mobiscroll.core-2.5.2.js" type="text/javascript"></script>
<script src="__JS__/min/mobiscroll.core-2.5.2-zh.js" type="text/javascript"></script>
<script src="__JS__/min/mobiscroll.datetime-2.5.1.js" type="text/javascript"></script>
<script src="__JS__/min/mobiscroll.datetime-2.5.1-zh.js" type="text/javascript"></script>