        <style>
            #left_nav {
                background: #f0f0f0;
                width: 200px;
            }
            #left_nav li{
                height:40px;
                line-height: 40px;
                padding-left: 30px;
            }
            #left_nav li i{
                margin-right: 10px;
                width: 20px;
                text-align: center;
            }
            #left_nav .active{
                background: #fff;
            }
            #left_nav .active a,i{
                color: darkseagreen;
            }
        </style>
        <script>
            $(function(){
                $('#left_nav li').click(function(){
                   $(this).addClass('active').siblings().removeClass('active');
                });
            });
        </script>
		<div class="container pb30">
			<div class="clear-backend">
			<div class="avatar">
				<div>
					<a href="{{:U('index/index')}}" >
						<img src="__STATICBK__/images/back-logo.jpg" alt="logo"/>
					</a>
				</div>
			</div>

			<!-- tab-menu -->
			<div class="aaa"></div>

                <ul id="left_nav">
                    <foreach name="navigation" key="key" item="vo">
                        <foreach name="user.author" key="akey" item="avo">
                            <if condition="$key eq $avo['permission']">

                                    <li class="active">
                                        <i class="{{$vo.ico}}"></i>
                                        <span >
                                            <a href="{{:U($vo['url'])}}">{{$vo.name}}</a>
                                        </span>
                                    </li>

                            </if>
                        </foreach>
                    </foreach>
                </ul>
			<div class='side_bar'></div>
			
			<!-- tab-top-bar -->
			<div class="top-bar">
				<ul>
					<li>
						<a target="_blank" href="{{:U('Home/Index/index')}}" title="首页">
							<i class="fa fa-home"></i>
						</a>
					</li>
					<li>
						<a href="{{:U('User/logout')}}" title="退出登录" onclick="logout()">
							<i class="fa fa-sign-out"></i>
						</a>
					</li>
					<li>
						<a href="{{:U('Index/person')}}" title="个人信息" onclick="logout()">
							<i class="fa  fa-user"></i>
						</a>
					</li>
					<if condition="$message_count gt 0">
					<li>
						<a href="" title="消息条数{{$message_count}}">
							<i class="fa fa-envelope"></i>
						</a>
					</li>
					</if>
					<li><span class="user_name" style='padding:0 10px'></span></li>
				</ul>
			</div>