<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>比赛编辑</title>
	<include file='Public:file'/>

	<style>
.add_teacher_card{
	width: 300px;
	height:300px;
	position:fixed;
	top:45%;
	left: 45%;
	z-index:2000;
	background-color: white;
	border:1px solid gray;
	border-radius: 4px;
	padding: 10px;

}
	</style>
</head>

<body>
	<div class="htmleaf-container">
	
		<div class="container pb30">
			
			<include file='Public:navigation'/>

			<!-- tab-content -->
			<div class="tab-content">
			
					<div id='expert_choose' class="hide comments"></div>
					
					<div class='race_set_div'>
						<form action="{{:U('Match/editmatch')}}" method='post'  enctype="multipart/form-data" >
							<input type='file' id='f_u' name='selectFiles'/>
							<h2 class='login-heading'>比赛编辑</h2>
							
							<span class='race_set_lable'>比赛名称：</span>
							<input type='text' id='input-race-name' placeholder='比赛名称（必填）' name='name' required='required' autofocus='autofocus' value="{{$minfo.name}}"/>
							<br/>
							<span class='race_set_lable'>副&nbsp;&nbsp;标&nbsp;&nbsp;题：</span><input type='text' name="sub_title" id='input-race-sub' placeholder='副标题' value="{{$minfo.sub_title}}" />
							<br/>
							<span class='race_set_lable'>比赛时间：</span>
							<input type='date' id='input-race-time1' name='race-start-date' placeholder='比赛开始时间（必填）' required='required' value="{{$minfo.project_start_time|date='Y-m-d',###}}" />
							<input type='date' id='input-race-time2' name='race-end-date' placeholder='比赛结束时间（必填）' required='required' value="{{$minfo.project_end_time|date='Y-m-d',###}}" />
							<br/>
						<!--	<span class='race_set_lable'>选择项目 : </span>
	                            <select name="proid" style="margin-left: 5px;width:120px;border-radius: 3px">
	                            	
	                            	<foreach item="_v" name="prolist">
	                            		<if condition="$minfo['project_id'] eq $_v['id']">
	                            		    <option value="{{$_v.id}}" selected="selected" >{{$_v.name}}</option>
	                            		<else />
	                            		    <option value="{{$_v.id}}" >{{$_v.name}}</option>
	                            		</if>
	                            	</foreach>
	                            	
	                            </select>
                            <br/>-->
							<p class='race_set_lable'>首页banner</p>
							<div class='file_upload_plugin'>
								<div id='file_upload_area' class='droppable' draggable='true'>
									<img src="/{{$minfo.cover_src}}" width="323px" height="242px" />
									<a id='banner_close' class='fa fa-close'></a>
								</div>
								<!-- <a class='upload'>上传</a> -->
								<a class='browse'>浏览</a>
							</div>
							<br/>
							
							<p class='race_set_lable'>比赛规程</p>
							<script id='editor' type='text/plain' style='width:100%;height:500px;'>{{$minfo.rules}}</script>
							<br/>
							<p class='race_set_lable'>比赛相关表格上传</p>
							<ul class='main_banner'></ul>
							<input type='file' name='upload_template'/>
							<br/>
							
							<span class='race_set_lable'>比赛报名</span>
							<br/>
							<span class='race_set_lable'>报名时间：</span>
							<input type='date' id='input-reg-time1' name='reg-start-date' value="{{$minfo.sign_start_time|date='Y-m-d',###}}" placeholder='报名开始时间' />
							<input type='date' id='input-reg-time2' name='reg-end-date' value="{{$minfo.sign_end_time|date='Y-m-d',###}}" placeholder='报名结束时间' />
							<br/>
							<!--<p class='race_set_lable'>比赛首页模板上传</p>
							<input type='file' name='upload_reg_page' />
							<br/>-->
							
							<span class='race_set_lable'>比赛分组</span><a id='race_add_group' class='fa fa-plus'></a>
							<br/>
							<div class='race_group_div'>
								
								<foreach name="pinfo" item="_v" key="k">
									<if condition="$k eq 0">
										<input class='race_group' type='text' name="packet[]" value="{{$_v.class_name}}" placeholder="默认组"  required='required' />
									<else />
									    <input class='race_group' type='text' name="packet[]" value="{{$_v.class_name}}" required='required' /><a class='fa fa-minus race-group-del'></a>
									</if>
								</foreach>
								
							</div>
							<br/>
							<div class='list_div'></div>
							<br/>
							
							<span class='race_set_lable'>作品评审</span><a id='race_expert_num_add' style='margin-left:18px' class='fa fa-plus'></a>
							<br/>
							<span class='race_set_lable'>由</span>
							<span id='race_expert_num' style='font-size:18px;margin-right:18px;text-align:center;width:48px'>{{$minfo.judge_amount}}</span>
							<input type="hidden" id='amount' name="amount" value="{{$minfo.judge_amount}}">
							<span class='race_set_lable'>位专家评审</span>
							<br/>
							<div id='race_expert_set_div'>
                                <foreach name="jinfo" item="_vo" key="k">
                                	<input type='hidden' value='{{$_vo.judge_id}}' class='dev_{{$k+1}}' name='teacherid[]'>
									<input readonly id='{{$_vo.judge_id}}_expert_class' type="text" value="{{$_vo.user_name}}" class='race_expert' te-input='{{$k+1}}'/>
									<a id='expert_add' style='margin-left:18px' num='{{$_vo.judge_id}}' class='fa fa-user-plus' teacher-input='{{$_vo.judge_id}}' onclick="add_export(this)"></a>
									
									<if condition="$k">
										<a style="margin-left:18px" class="fa fa-minus"></a>
									</if>
								</foreach>
							</div>
							<br/>
							<input type="hidden" name="mid" value="{{$minfo.id}}">
							<button id='b_ok'>确定</button>
						</form>
					</div>
				
			</div>
		</div>
	</div>
	
</div>
<div class="add_teacher_card" style="display:none">

    <p id="close" style="position: absolute;right: 5px;margin-bottom: 15px;background: #999;width:20px;height:20px;border-radius: 20px;color: #fff;text-align: center;line-height: 20px;">X</p>
	<foreach item="_l" name="glist">
		<a href="javascript:void(0)" teacher_id="{{$_l.user_id}}" onclick="add_teacher_(this)">{{$_l.user_name}}</a>
	</foreach>

</div>

<script>
var main_banner;
var race_id;
var teacher_select_id;
function add_export(e){
	teacher_select_id = $(e).attr("teacher-input")
	console.log(teacher_select_id)

	$(".add_teacher_card").toggle()
	
}
function add_teacher_(e){
		var content_ = $(e).html();
		var teacherid = $(e).attr("teacher_id");
		var teacher_in = $("input[te-input="+teacher_select_id+"]")[0]
//		$(teacher_in).val($(teacher_in).val()+content_+",")
        
        $(".dev_"+teacher_select_id).attr("value",teacherid);
        $(teacher_in).val(content_);
	}

$(document).ready(function() {
	
	UE.getEditor('editor');
	race_id = 'race_' + $.now();
	
	$('#file_upload_area').bind( {
		drop: function(e) {
		
			e.preventDefault();
			var oe = e.originalEvent;
			var file_list = oe.dataTransfer.files;
			main_banner = file_list[0];
			show_image( file_list, '#file_upload_area' );
		},
		dragover: function(e) {
			e.preventDefault();
			return true;
		}
	} );

	$('.file_upload_plugin a.upload').click( function() {
		
		if( typeof(main_banner)!='undefined' ) {
		
			var banner = new Object();
			var reader = new FileReader();
			
			reader.onload = function() {
				banner['banner'] = $.base64( 'encode', this.result );
				banner['banner_name'] = main_banner.name;
				banner['race_id'] = race_id;
				$.post( 'my-php/root_ui/add_race.php', banner, function() { alert('banner 上传成功'); } );	
			};	
			
			reader.readAsBinaryString( main_banner );
		}
	} );
	
	$('.file_upload_plugin a.browse').click( function(e) {
		$('#f_u').trigger('click');
		console.log("upload_click")
	} );
	
	$('#f_u').change( function(e) {	
		main_banner = this.files[0];
		show_image( this.files, '#file_upload_area');
	} );
		
	$('#banner_close').click( function() {
		var target = $(this);
		target.prev('img').attr('src','');
		target.prev('img').css( {'width':0,'height':0} );
		main_banner = '';
	} );

	$('#race_add_group').click( function() {
		var target = $('.race_group_div');
		var num = target.children('input[type=text]').size();
		target.append( $("<input type='text' class='race_group' name='packet[]' placeholder='分组"+(num+1)+"' required='required' />") );
		var del = $( "<a class='fa fa-minus race-group-del'></a>" );
		target.append( del );
		
		del.click( function() {
			var target = $( this );
			target.prev('input[type=text]').remove();
			target.remove();			
		} );
	} );
	
	$(".race-group-del").click( function() {
		var target = $( this );
		target.prev('input[type=text]').remove();
		target.remove();			
	} );

	$('#race_expert_num_add').click( function() {
		$(".add_teacher_card").hide()

		var target = $('#race_expert_set_div');
		
		var res = target.find('input.race_expert');
		var num = res.length+1;
		target.append( $("<input type='hidden' value='' class='dev_"+num+"' name='teacherid[]'><input id='"+num+"_expert_class' type='text' readonly='readonly' class='race_expert' placeholder='指定评审专家' te-input='"+num+"' />") );
		var user_add = $( "<a style='margin-left:18px' num='"+num+"' class='fa fa-user-plus' teacher-input='"+num+"' teacher-input='0' onclick='add_export(this)''></a>" );
		target.append( user_add );
		var minus = $( "<a style='margin-left:18px' class='fa fa-minus'></a>" );
		target.append( minus );
		
		var inputs = target.children('input[type=text]');
		$("#amount").attr("value",inputs.size())
		$('#race_expert_num').html( inputs.size() );
		
		// user_add.click( function(e) {
		// 	var div = $('#expert_choose');
		// 	div.css( 'top', e.pageY-100 );
		// 	div.toggleClass( 'hide' );
		// 	div.attr( 'num', $(this).attr('num') );
		// } );
		
		minus.click( function() {
			var target = $( this );
			target.prev('a.fa-user-plus' ).remove();
			target.prev('input[type=text]').remove();
			target.remove();
			$(".dev_"+num).remove();
			var inputs = $('#race_expert_set_div').children('input[type=text]');
			$("#amount").attr("value",inputs.size())
			$('#race_expert_num').html( inputs.size() );
		} );
	} );
	
	$(".fa-minus").click( function() {
		var target = $( this );
		target.prev('a.fa-user-plus' ).remove();
		target.prev('input[type=text]').remove();
		target.remove();
		var num = $('#race_expert_set_div').find('input.race_expert').length;
		$(".dev_"+num).remove();
		var inputs = $('#race_expert_set_div').children('input[type=text]');
		$("#amount").attr("value",inputs.size())
		$('#race_expert_num').html( inputs.size() );
	} );
	
	// 上传新建的比赛信息
	$('#b_ok').click( function() {
		var data = new Object();
	
		data['race_id'] = race_id;
		data['name'] = $('#input-race-name').val();
		data["sub_title"] = $("#input-race-sub").val();
		data['r_st'] = $('#input-race-time1').val();
		data['r_et'] = $('#input-race-time2').val();
		
		if( data['name']=='' || data['r_st']=='' || data['r_et']=='' ) {
			alert( '请完善比赛信息' );
			return;
		}
		
		data['s_st'] = $('#input-reg-time1').val();
		data['s_et'] = $('#input-reg-time2').val();

		var rg = $('input.race_group');
		data['class'] = '[';//WTF?!!!
		$.each( rg, function(i, v) {
			data['class'] += '"' + $(v).val() + '",';
		} );
		data['class'] = data['class'].substring( 0, data['class'].length-1) + ']';
		
		var re = $('input.race_expert');
		data['review'] = '[';
		$.each( re, function(i, v) {
			if (!$(v).prop('uid')) return true;
			
			var mstr = $(v).prop('uid').split( ',' );
			data['review'] += '[';
			$.each( mstr, function(i2,v2) {
				data['review'] += '"' + v2 + '",';
			} );
			data['review'] = data['review'].substring( 0, data['review'].length-1) + '],';
		} );
		data['review'] = data['review'].substring( 0, data['review'].length-1)  + ']';
			
		// 先上传比赛基本信息
		$.post( 'my-php/root_ui/add_race.php', data, function() {
			// 再单独上传 banner
			var banner = new Object();
			if( typeof(main_banner)!='undefined' ) {
				var reader = new FileReader();
				reader.onload = function() {
					banner['banner'] = $.base64( 'encode', this.result );
					banner['banner_name'] = main_banner.name;
					banner['race_id'] = data['race_id'];
					$.post( 'my-php/root_ui/add_race.php', banner );	
				};	
				reader.readAsBinaryString( main_banner );
			}
			
			// 单独上传rule
			var rule = new Object();
			rule['rule'] = UE.getEditor('editor').getContent();
			rule['race_id'] = data['race_id'];
			$.post( 'my-php/root_ui/add_race.php', rule );
			
			// 单独上传比赛用表格数据
			var chart_f = $('input[name=upload_template]')[0].files[0];
			if( chart_f ) {
				var reader = new FileReader();
				reader.onload = function() {
					var chart = new Object();
					chart['race_id'] = data['race_id'];
					chart['chart'] = $.base64( 'encode', this.result );
					chart['chart_name'] = chart_f.name;
					$.post( 'my-php/root_ui/add_race.php', chart );	
				};
				reader.readAsBinaryString( chart_f );
			}
			
			// 单独上传比赛展示界面
			var temp_f = $('input[name=upload_template]')[0].files[0];
			if( temp_f ) {
			var reader = new FileReader();
				reader.onload = function() {
					var temp = new Object();
					temp['race_id'] = data['race_id'];
					temp['template'] = $.base64( 'encode', this.result );
					$.post( 'my-php/root_ui/add_race.php', temp );	
				};
				reader.readAsBinaryString( temp_f );
			}
			
			alert( '比赛创建成功' );
			location.reload()
		} );	
	} );
	
} );

$('#close').click(function(){
    $(this).parent().toggle();
});

</script>
</body>

</html>