<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>比赛管理</title>
	<include file='Public:file'/>
    <style>
        .search{
            float: right;
            margin-top: 20px;
            margin-right: 70px;
            margin-bottom: 15px;
            border:1px solid #ccc;
            width: 600px;
            height:35px;
            padding:0;
        }
        .search input{
            width: 89.9%;
            height:100%;
            position: relative;
            bottom:1px;
            margin: 0;
            border:0;
        }
        .search button{
            width: 60px;
            height:100%;
            line-height: 35px;
            background: #0E6EB8;
        }
        .search button img{
            vertical-align: middle;
        }
    </style>
</head>

<body>
	<div class="htmleaf-container">
	
		<div class="container pb30">
			<include file='Public:navigation'/>

			<!-- tab-content -->
			<div class="tab-content">


                    <div class="search"><input type="text"/><button><img src="__STATICBK__/images/search.png" alt=""/></button></div>
					
					<table class="race_table user_table hover_table">
						<tbody>
							<tr style='background:#aaa;color:#fff'>
								<th width='5%'>ID</th>
								<th width='33%'>比赛名称</th>
								<th width='20%'>比赛时间</th>
								<th width='20%'>报名时间</th>
								
								<if condition="$flag eq false">
								    <th class='user_set'>设置</th>
								</if>
							</tr>
							
							<foreach name="list_data" item="_v">
								<tr mid="{{$_v.id}}">
									<td>{{$_v.id}}</td>
									<td><a class="race_name" href="{{:U('Match/viewmatch',array('id'=>$_v['id']))}}">{{$_v.name}}</a></td>
									<td><a class="race_time">{{$_v.project_start_time|date="Y-m-d",###}}——{{$_v.project_end_time|date="Y-m-d",###}}</a></td>
									<td><a class="race_stime">{{$_v.sign_start_time|date="Y-m-d",###}}——{{$_v.sign_end_time|date="Y-m-d",###}}</a></td>
									<if condition="$flag eq false">
										<td class="race_set">
											 <if condition="$_v.state eq 1">
											      <input type="checkbox" checked="checked"  class="race_valid"/>
											 <else />
											      <input type="checkbox" class="race_valid"/>
											 </if> 发布
										   <a href="{{:U('Match/editmatch',array('mid'=>$_v['id']))}}" class="race_edit">编辑</a>
										   <a class="race_delete">删除</a>
										</td>
									</if>

								</tr>
							</foreach>
							
						</tbody>
					</table>
				    <div id="page_div">
                        {{$Page}}
                    </div>
			</div>
		</div>
	</div>
</div>
<script>
    
    /*删除操作*/
	$('.race_delete').click( function() {
	    var t = $(this).parents('tr');
	    var mid = t.attr('mid');
		
		$.ajax({
			type:"post",
			url:"{{:U('Match/delMatch')}}",
			cache:false,
			data:"mid="+mid,
			success:function(data){
				if(data=='1'){
					t.remove();
				}else{
					alert("操作失败,请重新操作！");
				}
			}
		})
		
	} );

    /*发布操作*/
   $(".race_valid").change(function(){
   	
   	     var mid = $(this).parents("tr").attr("mid");
   	     var types = "";
   	     if($(this).prop("checked")){
   	     	/*发布*/
   	     	types = 1;
   	     }else{
   	     	/*不发布*/
   	     	types = 2;
   	     }
   	     $.ajax({
   	     	type:"post",
   	     	url:"{{:U('Match/updateState')}}",
   	     	data:"mid="+mid+"&types="+types,
   	     	success:function(data){
   	     	}
   	     });
   	     
   });


// //强行代码
// function append_race( tbody, race_data, d ) {
								
// 	$.each( race_data, function(i,v) {
// 		var tr = $('<tr class="race_info" id="'+v.race_id+'"></tr>');
// 		if( d==0 )
// 			tbody.append( tr );
// 		else
// 			tbody.children('tr:first').after( tr );
		
// 		tr.append( $('<td>'+v.race_id+'</td>') );
// 		tr.append( $('<td><a class="race_name" target="_blank" href="race_enroll.html?race_id='+v.race_id+'&race_name='+v.name+'">'+v.name+'</a></td>') );
		
// 		var race_time_str = formatDate( parseFloat(v.r_st) ) + '-' + formatDate( parseFloat(v.r_et) );
// 		var s_time_str = formatDate( parseFloat(v.s_st) ) + '-' + formatDate( parseFloat(v.s_et) );
		
// 		tr.append( $('<td><a class="race_time">' + race_time_str + '</a></td>') );
// 		tr.append( $('<td><a class="race_stime">' + s_time_str + '</a></td>') );		
// 		tr.append( $('<td class="race_set"><a target="_blank" href="edit_race.html?race_id='+v.race_id+'" class="race_edit">编辑</a><input type="checkbox" class="race_valid"/>发布<a class="race_delete">删除</a></td>') );
		
// 		if( v.flag=='1' )
// 			tr.find('input[type=checkbox].race_valid')[0].checked = true;	
// 	} );
	
// 	$('input[type=checkbox].race_valid').click( function() {
// 		var t = $(this).parents('tr');
// 		var rid = t.attr('id');	
// 		var s = this.checked;
// 		if( s )
// 			s = '1';
// 		else
// 			s = '0';
// 		$.post( 'my-php/root_ui/change_race_state.php', {race_id:rid,flag:s} );
// 	} );
	
// 	$('.race_delete').click( function() {
// 		var t = $(this).parents('tr');
// 		var rid = t.attr('id');
// 		$.post( 'my-php/root_ui/change_race_state.php', {race_id:rid,flag:'2'}, function() {	
// 			$.each( race_info, function(i,v) {
// 				if( v.race_id==rid ) {
// 					race_info.splice( i, 1 );
// 					t.hide( 400, function() { $(this).remove(); } );	
// 					ii = i;
// 					return false;
// 				}	
// 			} );
// 		} ); 
//		
// 	} );
// }
// //强行函数

// 	// 比赛管理
// 	var post_data = {"action":"manage"}
// 				$(document).ready(function(){
// 				$.post( 'my-php/root_ui/get_race.php',post_data, function( data ) {
// 					race_info = data
// 					console.log(data)
// 					var race_tab = $('table tbody');
// 					append_race( race_tab, race_info, 0 );					
// 				},"json");
			
// 			$('#race_refresh').click( function() {
			
// 				$.post( 'my-php/root_ui/get_race.php', function( data ) {
// 					if( data ) {
// 						race_info = $.parseJSON( data );
// 						var race_tab = $('.tab-content .tab-item-7 .race_table tbody');
// 						race_tab.find('tr.race_info').remove();
// 						append_race( race_tab, race_info, 0 );	
// 					}					
// 				} );
				
// 			} );

// 	})
	
</script>


</body>

</html>