<script type="text/html" id="footer_temp" >
    <ul>
        <li class="f_main">
            <a href="javascript:void(0)" class="f_title">友情链接</a>
            <ul class="f_content">
                <% for (x in footer_list){%>
                <%for (y in footer_list[x]){%>
                <li><a href="<%=footer_list[x][y]['second_list_href']%>"><%=footer_list[x][y]['second_list_name']%></a></li>
                <%}%>
                <%}%>
            </ul>
            <ul class="f_content" style="position: relative;bottom:13px;">
                <% for (x in footer_list){%>
                <%for (y in footer_list[x]){%>
                <li><a href="<%=footer_list[x][y]['third_list_href']%>"><%=footer_list[x][y]['third_list_name']%></a></li>
                <%}%>
                <%}%>
            </ul>
        </li>
        <li class="f_main">
            <a href="javascript:void(0)" class="f_title">联系分享</a>
            <div class="f_content">
                <p><img src="__STATIC__/img/footer/sina_weibo.png"/>
				   <img src="__STATIC__/img/footer/QQ.png"/>
				   <img src="__STATIC__/img/footer/weixing-Assistor.png"/>
				</p>
                <p>
					<img src="__STATIC__/img/footer/frend-Assistor.png"/>
					<img class="position1" src="__STATIC__/img/footer/doubang-Assistor.png"/>
					<img class="position2" src="__STATIC__/img/footer/rengrengwang-Assistor.png"/>
				</p>
            </div>
        </li>
        <li class="f_main">
            <a href="javascript:void(0)" class="f_title">关注我们</a>
            <div class="f_content">
                <img src="__STATIC__/img/code.png"/>
            </div>
        </li>
    </ul>
</script>
<script src="__JS__template.js"></script>
<script src="__JS__/min/mobiscroll.core-2.5.2.js" type="text/javascript"></script>
<script src="__JS__/min/mobiscroll.core-2.5.2-zh.js" type="text/javascript"></script>
<script src="__JS__/min/mobiscroll.datetime-2.5.1.js" type="text/javascript"></script>
<script src="__JS__/min/mobiscroll.datetime-2.5.1-zh.js" type="text/javascript"></script>

<script src="__JS__/min/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
<script src="__JS__/min/hammer-v2.0.3.min.js" type="text/javascript"></script>
<script src="__JS__/min/flickerplate.min.js" type="text/javascript"></script>