 <!--头部-->
    <div class="newsHeader">
        <div class="headerContent">
            <!--LOGO-->
            <a href="front_index.html"><img src="__STATIC__/img/SCU_logo.png" width="200px" alt=""> <span> · 团委创立方教育平台</span></a>
            <!--注册、登录-->
            <div class="rAndl">
                <a href="{{:U('User/register')}}">注册</a> |
                <a href="{{:U('Login/index')}}">登录</a>
            </div>
        </div>
    </div>
    <!--头部导航-->
    <div id="headerNav">
        <div class="navContent">
            
        </div>
    </div>