<script src="__JS__jquery.js"></script>
<script src="__JS__register.js"></script>
<script src="__JS__baidu.js"></script>
<script src="__JS__page.js"></script>
<script type="text/html" id="header_temp">   
    <ul class="newsnav">
                <% for(x in header_list){%>
                 <li>
                     <a class="first" href="<%=header_list[x]['first_list_href']%>"><%=header_list[x]['first_list_name']%></a>
                      <ul class="dropNav">
                     <% for (y in header_list[x]['second']){%>
                         <li><a href="<%=header_list[x]["second"][y]['second_list_href']%>"><%=header_list[x]["second"][y]['second_list_name']%></a></li>
                     <%}%>
                     </ul>
                 </li>
                 <%}%>
             </ul>
</script>
<script>
    $(function(){
        $('.newsnav li .first').click(function(){
            $(this).css({
                'transition':'all .2s',
                'color':'gray'
            }).parent().siblings().find('.first').css({
                'transition':'all .2s',
                'color':'#fff'
            });
        });
    });

</script>
<script src="__JS__template.js"></script>
<script src="__JS__flickerplate.min.js"></script>