 <!--头部-->
    <div class="newsHeader">
        <div class="headerContent">
            <!--LOGO-->
            <a class="logo" href="{{:U('Index/index')}}"><img src="__STATIC__/img/ckLogo.png" height="70px" alt=""/><span style="margin-left: 10px">•</span><img src="__STATIC__/img/ckLogo2.png" alt="" style="position: relative;top:20px;height:65px;margin-left:-10px;"></a>
            <!--注册、登录-->
            <if condition="$user.user_id elt 0">
	            <div class="rAndl">
	            	<a href="{{:U('Login/index')}}">登录</a> |
	                <a href="{{:U('User/register')}}">注册</a>
	            </div>
	            <else />
	            <div class="rAndl">
	                <a href="{{:U('Admin/index/index')}}">{{$user.user_name}}</a> |
	                <a href="{{:U('Admin/User/logout')}}">注销</a>
	            </div>
            </if>
        </div>
    </div>
    <!--头部导航-->
    <div id="headerNav">
        <div class="navContent">
            
        </div>
    </div>