<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>参加比赛</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/style-fcl.css">
</head>
<body>
<include file='Public:headerhtml'/>
    <div id="match">
        <!--poster-->
        <img class="poster" src="__STATIC__/img/match.png"/>
        <div class="matchDes">
            <h3>比赛说明</h3>
            <ul>
                {{$minfo["rules"]}}
            </ul>
        </div>
        
        <if condition="$user.user_id gt 0">
           <div class="down"><a href="{{:U('Team/downFile',array('mid'=>$minfo['id']))}}">下载文件</a></div>
        </if>
    </div>
    <div id="footer" class="footer" style="margin-top: 60px">
        <div id="f_center" style="text-align: left">

        </div>
    </div>
</body>
<include file='Public:header'/>
<include file='Public:footer'/>
<script>
    $(function(){
        $('.newsnav li').mouseenter(function(){
            $(this).find($('.dropNav')).slideDown(200);
            $(this).find($('.dropNav')).parent().siblings().find($('ul')).slideUp(200);
        });
        $('.dropNav').mouseleave(function(){
            $(this).slideUp(200);
        });
    });
</script>
</html>