<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>参加比赛</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/style-fcl.css">
</head>
<body>
<include file='Public:headerhtml'/>
    <div id="match">
        <!--poster-->
        <img class="poster" src="__STATIC__/img/match.png"/>
        <div class="matchDes">
            <h3>比赛说明</h3>
            <ul>
                <li>
                    <h5>一、大赛主题</h5>
                    <p>“互联网+”成就梦想，创新创业开辟未来。</p>
                </li>
                <li>
                    <h5>二、组织机构</h5>
                    <h5>主办：山西省教育厅</h5>
                    <h5>承办：太原理工大学</h5>
                    <p>
                        然而在距离退休的最后几年，她却在金钱和权力的诱惑下，在补偿心理和侥幸心理的共同作用下，
                        理想信念之柱轰然坍塌，思想深处发生“蜕变”，踩着腐败的滑轮，迅速地滑向违法犯罪的深渊。
                        2014年9月，其因涉嫌严重违纪问题被辽宁省纪委立案审查，后被移送司法机关起诉。
                    </p>
                </li>
                <li>
                    <h5>三、参赛项目要求</h5>
                    <p>
                        1.据专案组工作人员介绍，职业生涯的最后几年，张小普疯狂敛财，此时的她全身上下名牌服装，珠光宝气，
                        名包、名鞋动辄上万元。在省发改委担任领导期间，张小普负责分管人事和财务工作，令人吃惊的是，她竟然将自己家里一应生活开支，
                        悉数拿到单位公款报销，经查她将50余万元个人消费支出，在单位财务进行了核销，其中包括她儿子在沈阳万豪酒店结婚发生的92000元费用
                        ，也在她本人的授意下，由相关人员以公款消费的形式进行核销。
                    </p>
                    <p>
                        2.在外人的眼里，张小普的人生之路可谓是一帆风顺，处处是鲜花和掌声——16岁下乡插队，17岁入党，
                        21岁任公社党委书记，30岁走上处级领导岗位，44岁任副厅级领导干部，49岁走上正厅级领导岗位，此外，
                        她还获得过“省优秀女领导干部”、“省优秀共产党员”和省“‘五一’劳动奖章”等荣誉，头顶着太多令人羡慕的光环。
                    </p>
                </li>
                <li>
                    <h5>四、参赛对象</h5>
                    <h5>据专案组工作人员介绍，职业生涯的最后几年，张小普疯狂敛财，此时的她全身上下名牌服装，珠光宝气.</h5>
                    <h5>
                        据专案组工作人员介绍，职业生涯的最后几年，张小普疯狂敛财，此时的她全身上下名牌服装，珠光宝气，
                        名包、名鞋动辄上万元。在省发改委担任领导期间，张小普负责分管人事和财务工作，令人吃惊的是，她竟然将自己家里一应生活开支，
                        悉数拿到单位公款报销，经查她将50余万元个人消费支出，在单位财务进行了核销，其中包括她儿子在沈阳万豪酒店结婚发生的92000元费用
                        ，也在她本人的授意下，由相关人员以公款消费的形式进行核销。
                    </h5>
                    <h5>
                        在外人的眼里，张小普的人生之路可谓是一帆风顺，处处是鲜花和掌声——16岁下乡插队，17岁入党，
                        21岁任公社党委书记，30岁走上处级领导岗位，44岁任副厅级领导干部，49岁走上正厅级领导岗位，此外，
                        她还获得过“省优秀女领导干部”、“省优秀共产党员”和省“‘五一’劳动奖章”等荣誉，头顶着太多令人羡慕的光环。
                    </h5>
                </li>
                <li>
                    <h5>五、奖项设置</h5>
                    <h5>据专案组工作人员介绍，职业生涯的最后几年，张小普疯狂敛财，此时的她全身上下名牌服装，珠光宝气.职业生涯的最后几年，张小普疯狂敛财，此时的她全身上下名牌服装，珠光宝气.</h5>
                </li>
            </ul>
        </div>
        <!--报名申请-->
        <div class="bmApply">
            <div class="center">
                <form action="">
                    <p>选择比赛组别：</p>
                    <select name="" id="">
                        <option value=""></option>
                    </select>
                    <input type="submit" value="报名申请"/>
                </form>
            </div>
        </div>
    </div>
    <div id="footer" class="footer" style="margin-top: 70px">
        <div id="f_center" style="text-align: left">

        </div>
    </div>
</body>
<include file='Public:header'/>
<include file='Public:footer'/>
<script>

    //提交比赛
    $("#upload_works").click(function(){
        $.ajaxFileUpload({
                    url:"{{:U('Team/matchdetails')}}",//处理图片脚本
                    secureuri :false,
                    fileElementId :'upload_file',//file控件id
                    dataType : 'json',
                    success : function (data, status){
                        up = {"project_id":race_id,"class":$("#class").val(),"add":data.add}
                       $.post("backend/my-php/lee/match_enroll.php",up,function(data,success){
                        if(success){
                            alert("报名成功")
                            window.location.href="./front_match_information.html"
                        }


                       })
                    }
                });


    })

        $('.newsnav li').mouseenter(function(){
            $(this).find($('.dropNav')).slideDown(200);
            $(this).find($('.dropNav')).parent().siblings().find($('ul')).slideUp(200);
        });
        $('.dropNav').mouseleave(function(){
            $(this).slideUp(200);
        });
   
</script>
</html>