<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>场地选择</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/style.css">
</head>

<body>
<include file='Public:headerhtml'/>
    <div class="ad" id="ad">
        <div class="header-ad-bag">
            <img src="__STATIC__/img/19300001357244132063856219117.jpg" alt="">
        </div>

    </div>

    <div class="title" style="margin-top: 5px;font-size: 20px;font-family: '微软雅黑'">
        <center>场地选择</center>
    </div>
    <ul class="occ_two">
    	<foreach name="list_data" item="_v">
    		<li><a href="{{:U('News/details',array('id'=>$_v['id']))}}">{{$_v.title}}</a></li>
    	</foreach>
    </ul>

     <div id="page_front" style="margin: 40px 0px">
     	<ul>
         	 {{$Page}}
        </ul>
     </div>

    <!--footer-->
    <div id="footer">
        <div id="f_center">

        </div>
    </div>
    <include file='Public:header'/>
    <include file='Public:footer'/>
    <script>

        $(function(){
            $('.newsnav li').mouseenter(function(){
                $(this).find($('.dropNav')).slideDown(200);
                $(this).find($('.dropNav')).parent().siblings().find($('ul')).slideUp(200);
            });
            $('.dropNav').mouseleave(function(){
                $(this).slideUp(200);
            });
        });
    </script>
</body>

</html>