<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand"><!--默认360浏览器内核为webkit-->
    <title>首页</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/style.css">
</head>

<body>
<include file='Public:headerhtml'/>
    <div class="ad" id="ad">
        <div class="header-ad-bag">

            <img src="__STATIC__/img/19300001357244132063856219117.jpg" alt="">
        </div>

    </div>

    <div class="title" style="margin-top: 5px">
        <center>场地选择</center>

    </div>
    <div class="select-school">
        <div class="select-school-body">
            <center>
                <div class="school-selector red">
                    <img src="__STATIC__/img/wangjiang.png" alt="">
                    <div class="school-select-btn " >望江校区</div>
                    <div class="little-arr">

                    </div>
                </div>
                <div class="school-selector green">
                    <img src="__STATIC__/img/huaxi.png" alt="">
                    <div class="school-select-btn" >华西校区</div>
                    <div class="little-arr">

                    </div>
                </div>
                <div class="school-selector purple">
                    <img src="__STATIC__/img/shaungliu.png" alt="">
                    <div class="school-select-btn" >江安校区</div>
                    <div class="little-arr">

                    </div>
                </div>
            </center>
        </div>

    </div>

    <div class="select-class">
        <div class="select-class-body">

            <div class="select-block">
                <input type="checkbox" classid="1">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
        </div>

    </div>
     <div class="select-class">
        <div class="select-class-body">

            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
        </div>

    </div>
     <div class="select-class">
        <div class="select-class-body">

            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
            <div class="select-block">
                <input type="checkbox">
                <lable>基础教学楼</lable>
            </div>
        </div>

    </div>

    <div class="show-time-cover">
        <div class="show-time-body">
            <div class="show-time-block">

                <div class="show-time-time">
                    2015-10-15
                </div>
                <div class="show-time-sub-block">
                    <div class="show-time-select">
                        <div class="show-time-header">基础教学楼A-202</div>
                        <div class="show-time-little-block-body">
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>

                        </div>

                    </div>
                    <div class="show-time-select">
                        <div class="show-time-header">基础教学楼A-202</div>
                        <div class="show-time-little-block-body">
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>

                        </div>

                    </div>
                    <div class="show-time-select">
                        <div class="show-time-header">基础教学楼A-202</div>
                        <div class="show-time-little-block-body">
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block occupy"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block able"></span>
                            <span class="show-time-little-block unable"></span>
                            <span class="show-time-little-block unable"></span>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--footer-->
    <div id="footer">
        <div id="f_center">

        </div>
    </div>
    <include file='Public:header'/>
<include file='Public:footer'/>
    <script>
//        临时程序
        function print(x){
            console.log(x)
        }
        
//        用后删除
        var school_select_db = [
            {"color":"rgba(183,38,45,.2)"},
            {"color":"rgba(28,141,68,.2)"},
            {"color":"rgba(95,43,137,.2)"}
        ]
        var school_select_btn = $(".school-select-btn")
        school_select_btn.click(function () {
            var btn_index = $(".school-select-btn").index($(this))
            //找到所点击按钮的序列,这样方便检索后面下拉面板,而且省却标记
            var dropdown_color = school_select_db[btn_index]["color"]
           
            var school_select_parent = $(this).parent(".school-selector");
            var school_id = $(this).attr("school-selector")
            var dropdown = $(".select-class")[btn_index]
            if ($(this).hasClass("selected")) {
                $(this).removeClass("selected");

                $(dropdown).css({"height":"0px","background-color":dropdown_color})
                school_select_parent.find(".little-arr").hide()

            }
            else
            {
             $(this).addClass("selected");
                school_select_parent.find(".little-arr").show()
                print(btn_index)
                print( $(".select-class"))
                
                $(dropdown).css({"height":"200px","background-color":dropdown_color})
            
            }


        })
        
       
        
        
        $("input[type=checkbox]").click(function(){
        
        console.log($(this).get(0).checked)
        console.log($("input[type=checkbox]").index($(this)))
        
        })
        
       $(function(){
           $('.newsnav li').mouseenter(function(){
               $(this).find($('.dropNav')).slideDown(200);
               $(this).find($('.dropNav')).parent().siblings().find($('ul')).slideUp(200);
           });
           $('.dropNav').mouseleave(function(){
               $(this).slideUp(200);
           });
       });
    </script>
</body>

</html>