<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>信息发布</title>
	<include file='Public:file'/>
</head>

<body>
	<div class="htmleaf-container">
		<div class="container pb30">
			<include file='Public:navigation'/>
			<!-- tab-content -->
			<div class="tab-content">
					<div class='race_set_div'>
						<form action='{{:U('News/createnews')}}'  method='post' enctype="multipart/form-data">
							<input type='file' id='f_u_2' name='selectFiles'/>
							<h2 class='login-heading'>信息发布</h2>
							
							<span class='race_set_lable'>选 &nbsp;栏 目：</span>
							<select id='news_col' name='col' style="width: 120px">
								<option value='1'>新闻主页</option> 
								<option value='2'>创业政策</option> 
								<option value='3'>讲座培训</option>
								<option value='4'>创业动态</option> 
								<option value='5'>资料库</option>
								<option value='6'>场地类别</option>
							</select>
							<select id='sub_col' name='sub_col' style="margin-left: 20px;width: 120px;display: none">
								<option value='0'>选择副类型</option>
								<option value='1'>学校</option> 
								<option value='2'>地方</option> 
								<option value='3'>国家</option>
							</select>
							<br/>
							<span class='race_set_lable'>主 &nbsp;标 题：</span><input type='text' name='title' id='input-title-name' placeholder='主标题（必填）' required='required' autofocus='autofocus' />
							<br/>
							<span class='race_set_lable'>副 &nbsp;标 题：</span><input type='text' name='subtitle' id='input-subtitle-name' placeholder='副标题' />
							<br/>
                            <span class='race_set_lable'>消息来源：</span><input type='text' name='source' id='input-from-name' value='四川大学教务处' />
                            <br/>
                            <span class='race_set_lable'>新闻类型：</span>
                            <select name="type" id="news_type" style="width: 120px">
                            <option value="1">轮播图</option>
                                <option value="2">普通新闻</option>
                                <option value="3">图片新闻</option>
                                
                            </select>
                            <br/>
							<span class='race_set_lable'>置 &nbsp;顶 期：</span>
							<input type='date' id='input-top-time1' name='top_s' placeholder='开始时间'/>
							<input type='date' id='input-top-time2' name='top_e' placeholder='结束时间'/>
							<br/>
							
							<p class='race_set_lable'>标题图片</p>
							<div class='title_img_upload_plugin'>
								<div id='title_img_upload' class='droppable' draggable='true'>
									<img />
									<a id='title_img_close' class='fa fa-close'></a>
								</div>
								<a class='title_img_browse'>浏览</a>
							</div>
							<br/>
							
							<p class='race_set_lable'>编辑内容(*若上传视频,flash 可直接上传,若是代码请点击菜单栏'html'进行复制)</p>
							<script id='info_editor' type='text/plain' style='width:100%;height:800px;'></script>
							<br/>
							<button class='news_b' type='submit' id='news_submit'>提交</button>
						</form>
					</div>
			</div>
		</div>
	</div>
	
	
</div>

<!-- <script src="my-js/template.js"></script>

<script src="my-js/logic.js"></script> -->

<script>
	
var news_id = String(Math.round($.now()/1000)) + '_' + String(Math.round(Math.random()*1000));
		
		$( function() {
		
			UE.getEditor( 'info_editor' );
			
			// 新闻发布界面提交
			$('button.news_b').click( function() { 
				var in_p = new Object();
				//in_p['id'] = news_id;
				in_p['col'] = $('#news_col option:selected').val();
				in_p['title1'] = $('#input-title-name').val();
				in_p['title2'] = $('#input-subtitle-name').val();
				in_p['top_s'] = $('#input-top-time1').val();
				in_p['top_e'] = $('#input-top-time2').val();		
				in_p['news'] = UE.getEditor('info_editor').getContent();
                in_p['from_name'] = $("#input-from-name").val();
                in_p['news_type'] = $("#news_type").find("option:selected").attr("value");//性别
                console.log(in_p['news']);
                return;
                console.log(in_p['from_name'],in_p['news_type']);
				return ;
                var id = $(this).attr('id');
				if( id=='news_submit' ) 
					in_p['flag'] = 0;
				else
					in_p['flag'] = 3;
			} );
			
			
			
		} );



var main_banner_2;
		
		$(document).ready(function() {
		
			$('#title_img_upload').bind( {
				drop: function(e) {
				
					e.preventDefault();
					var oe = e.originalEvent;
					var file_list = oe.dataTransfer.files;
					main_banner_2 = file_list[0];
					show_image( file_list, '#title_img_upload' );
				},
				dragover: function(e) {
					e.preventDefault();
					return true;
				}
			} );
					
			$('.title_img_upload_plugin a.title_img_browse').click( function(e) {
				$('#f_u_2').trigger('click');
			} );
			
			$('#f_u_2').change( function(e) {	
				main_banner_2 = this.files[0];
				show_image( this.files, '#title_img_upload' );
			} );

			$('#title_img_close').click( function() {
				var target = $(this);
				target.prev('img').attr('src','');
				target.prev('img').css( {'width':0,'height':0} );
				main_banner_2 = '';
			} );
            $('#news_col').change(function(){
                var value=$("#news_col").find("option:selected").val();

                if(value == "5"){
                    $("#news_type").html('<option value="3">图文新闻</option>')
                }else{
                    $("#news_type").html('<option value="1">轮播图</option><option value="2">普通新闻</option><option value="3">图片新闻</option>')
                }
            });
			
		} );
        //栏目效果
        $(function(){
            $('#news_col').click(function(){
                var r_val = $(this).val();
                if(r_val == 2){
                    $('#sub_col').show();
                }else if(r_val != 2){
                    $('#sub_col').hide();
                }
            });
        });

        $('#input-top-time1').change(function(){
            alert('请选择结束日期');
            $('#input-top-time2').css({
                'borderColor': '#00a2e8',
                'boxShadow':'0 0 8px rgba(0,162,232,1),0 0 5px rgba(0,162,232,.75)'
            });
        })
</script>



</body>

</html>
