<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人报名</title>
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/css/style-fcl.css">
    <link rel="stylesheet" href="__STATIC__/css/mobiscroll.custom-2.5.2.min.css"/>
    <link href="__STATIC__/css/mobiscroll.android-ics-2.5.2.css" rel="stylesheet" type="text/css" />
</head>
<body>
<include file='Public:headerhtml'/>
<!--poster-->
<div id="team">
    <div class="poster">
        <div class="center"><img src="__STATIC__/img/banner-1.jpg"/></div>
    </div>
    <!--title-->
    <div class="title">个人注册</div>
    <!--content-->
    <div class="content">
        <form action="{{:U('User/register')}}" method="post">
        <!--  
            <div id="teamRegister">
                <p class="teamName"><span>团队名称</span><input type="text" id="teamName" placeholder="团队名称（必填）"/></p>
                <input type="hidden"/>
                <label id="teamNameTs">123</label>
                <h4>负责人注册</h4>
            </div>
            -->
            <p><span>电子邮箱</span><input id="email" type="text" name="email" placeholder="电子邮件地址（必填）"/></p>
            <label id="emailTs">123</label>
            <p class="zjType">
                <span>证件类型</span>
                <select name="card_type" id="idType">
                    <option value="1">学生证</option>
                    <option value="2">身份证</option>
                </select>
                <input id="idNum" name="card_id" type="text" placeholder="证件号（必填）"/>
            </p>
            <label id="idNumTs">123</label>
            <p class="sfAttribute">
                <span>身份属性</span>
                <select name="user_type" class="sc" id="Identity">
                    <option value="6">学生个人</option>
                    <option value="3">指导老师</option>
                    <option value="4">评审专家</option>
                    <option value="5">投资人</option>
                </select>
                <button>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</button>
                <select name="sex" class="sex">
                    <option value="2">女</option>
                    <option value="1">男</option>
                </select>
            </p>
            <label>123</label>
            <p>
	            <span>密码设置</span><input id="pwd" name="passwd" type="password" placeholder="密码（必填）"/>
            </p>
            <label id="pwdTs">123</label>
            <p class="pwdAgain">
            	<span>密码确认</span><input type="password" id="pwdAgain" placeholder="再次输入密码（必填）"/>
            </p>
            <label id="pwdAgainTs">123</label>
            <p>
            	<span>学院/机构</span><input type="text" id="school" name="college" placeholder="所在学院或单位"/>
            </p>
            <label>123</label>
            <p>
            	<span>姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</span><input type="text" name="user_name" id="name" placeholder="您的真实姓名"/>
            </p>
            <label>123</label>
            <p class="birthDate">
            	<span>民 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族</span><input id="nation" name="nation" type="text" placeholder="您所属民族" class="mz"/><span class="birth">出生日期</span><input type="text" name="birth" id="appDate" placeholder="你的出生日期"/>
            </p>
            <label id="birTs">123</label>
            <p><span>专 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业</span>
            <select name="major" id="major" style="width: 525px;position: relative;right:5px;">
            	<foreach name="major" key="key" item="vo">
            		<option value="{{$key}}">{{$vo}}</option>
            	</foreach>
            </select>
            </p>

            <!-- <input  type="text" placeholder="您的主修专业"/></p> -->
            <label>123</label>
            <p><span>学 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历</span><select name="degree" id="degree" style="width: 530px;"><foreach name="degree" key="key" item="vo"><option value="{{$key}}">{{$vo}}</option></foreach></select></p>

            <input class="subBtn" type="button" value="提交"/>
        </form>
    </div>
</div>
<!--footer-->
<div id="footer" style="clear: both">
    <div id="f_center">

    </div>
</div>

</body>
<include file='Public:header'/>
<include file='Public:footer'/>

<script>
    $(function(){
        $('.newsnav li').mouseenter(function(){
            $(this).find($('.dropNav')).slideDown(200);
            $(this).find($('.dropNav')).parent().siblings().find($('ul')).slideUp(200);
        });
        $('.dropNav').mouseleave(function(){
            $(this).slideUp(200);
        });
        $('#Identity').change(function(){
            var value=$("#Identity").find("option:selected").val();

            if(value == "chief"){
                $('#teamRegister').show(300);
                $('.title').html('团队注册')
            }else{
                $('#teamRegister').hide(300);
                $('.title').html('个人注册')
            }
        });
    });
</script>
<script>
    //register ajax
    $('.subBtn').click(function(){
        var teamName = $('#teamName').val();//团队名称
        var email = $('#email').val();//邮箱
        var idType = $("#idType").find("option:selected").attr("value");//证件类型
        var num = $('#idNum').val();//证件号
        var Identity = $("#Identity").find("option:selected").attr("value");//身份属性
        var sex = $(".sex").find("option:selected").attr("value");//性别
        var pwd = $('#pwd').val();//密码
        var school = $('#school').val();//学院或单位
        var name = $('#name').val();//姓名
        var nation = $('#nation').val();//民族
        var birthday = $('#birthday').val();//出生日期
        var major = $('#major').val();//专业
        var degree = $('#degree').val();//学历
        
        var data = {
            't_name':teamName,
            'email':email,
            'type':idType,
            'num':num,
            'identity':Identity,
            'sex':sex,
            'password':pwd,
            'com':school,
            'name':name,
            'nation':nation,
            'birthday':birthday,
            'major':major,
            'degree':degree
        };
        if(email == '' || idType == '' || num == '' || Identity == '' || sex == '' || pwd == '' || $('pwdAgain').val() == ''){
            alert('您好，你还有相关信息未填写，请重新填写！');
        }else{
            $('form').submit();
        }
    });
</script>
<!--出生日期选择-->

<script type="text/javascript">
    $(function () {
        var currYear = (new Date()).getFullYear();
        var opt={};
        opt.date = {preset : 'date'};
        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            lang:'zh',
            startYear:currYear - 10, //开始年份
            endYear:currYear + 60 //结束年份
        };

        $("#appDate").val('').scroller('destroy').scroller($.extend(opt['date'], opt['default']));

    });
</script>

</html>